{% extends "base.html.twig" %}
{% block title %}
CoinDB
{% endblock %}
{% block body %}
  <div class="dashboard_zoomin_theme_container">
          <h1 class="dashboard_themetext">Überschrift</h1>
  </div>
  <div class="dashboard_zoomin_theme">
  </div>
  <div class="dashboard_zoomin_text">
  </div>
  <button class="dashboard_closebutton closebutton" id="close">X</button>
<table class="table" id="table_theme1">
  <tr id="table_tr1.1">
    <td class="td_dashboard td_theme" id="theme1" rowspan="2"></td>
    <td class="td_dashboard td_entry" id="entry1"></td>
    <td class="td_dashboard td_entry" id="entry2"></td>
    <td class="td_dashboard td_entry" id="entry3"></td>
    <td class="td_dashboard td_entry" id="entry4"></td>
    <td class="td_dashboard td_entry" id="entry5"></td>
  </tr>
  <tr id="table_tr1.2">
    <td class="td_dashboard td_entry" id="entry6"></td>
    <td class="td_dashboard td_entry" id="entry7"></td>
    <td class="td_dashboard td_entry" id="entry8"></td>
    <td class="td_dashboard td_entry" id="entry9"></td>
    <td class="td_dashboard td_entry" id="entry10"></td>
  </tr>
</table>
<table class="table" id="table_theme2">
  <tr id="table_tr2.1">
    <td class="td_dashboard td_theme"  id="theme2"rowspan="2"></td>
    <td class="td_dashboard td_entry" id="entry11"></td>
    <td class="td_dashboard td_entry" id="entry12"></td>
    <td class="td_dashboard td_entry" id="entry13"></td>
    <td class="td_dashboard td_entry" id="entry14"></td>
    <td class="td_dashboard td_entry" id="entry15"></td>
  </tr>
  <tr id="table_tr2.2">
    <td class="td_dashboard td_entry" id="entry16"></td>
    <td class="td_dashboard td_entry" id="entry17"></td>
    <td class="td_dashboard td_entry" id="entry18"></td>
    <td class="td_dashboard td_entry" id="entry19"></td>
    <td class="td_dashboard td_entry" id="entry20"></td>
  </tr>
</table>
<table class="table" id="table_theme3">
  <tr id="table_tr3.1">
    <td class="td_dashboard td_theme"  id="theme3" rowspan="2"></td>
    <td class="td_dashboard td_entry" id="entry21"></td>
    <td class="td_dashboard td_entry" id="entry22"></td>
    <td class="td_dashboard td_entry" id="entry23"></td>
    <td class="td_dashboard td_entry" id="entry24"></td>
    <td class="td_dashboard td_entry" id="entry25"></td>
  </tr>
  <tr id="table_tr3.2">
    <td class="td_dashboard td_entry" id="entry26"></td>
    <td class="td_dashboard td_entry" id="entry27"></td>
    <td class="td_dashboard td_entry" id="entry28"></td>
    <td class="td_dashboard td_entry" id="entry29"></td>
    <td class="td_dashboard td_entry" id="entry30"></td>
  </tr>
</table>
{% endblock %}
